.burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 500px;
    overflow: auto;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
}